.landing {
    background: url("../img/jumb.jpg");
    background-size: cover;
}

.other {
    background-color: #e1e6fa;
}

h1, h2, p, h4 {
    color: #183152;
}

.navbar {
    background-color: #183152;
}

.navbar .navbar-brand {
    color: #e1e6fa;
}

.navbar-default .navbar-nav li a {
    color: #e1e6fa;
}

.navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:hover {
    color: white;
}

.btn-primary {
    background-color: #375d81;
    color: #e1e6fa;
}

.media-object {
    width: 100px;
}

